body, html {
	margin:5px;
	padding:0px;
	background:#F9F9F9;
	color:#009;
	position:absolute;
	left:0px;
	top:0px;
	}

body {
	min-width:770px;
	}

a {
	color:#900;
	text-decoration:none;
	}

a:hover {
	color:#F00;
	text-decoration:underline;
	}
	
#banner {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:55px;
	}

#wrap	{
	margin:0px;
	padding:0px;
	width:770px;
	}

#wrap, table, tr, th, td {
	font-family:Verdana,Arial,Helvetica,Geneva,Sans-Serif;
	font-size:10pt;
	}

#header {
	border:1px solid #900;
	border:1px solid #999;
	border:1px solid #FC3;
	background:#EEE;
	padding:0px 0px 0px 0px;
	margin:10px auto;
	background:url('../images/rnamods.gif');
	background-repeat:no-repeat;
	overflow:hidden;
	}

#textframe {
	background:#FFE;
	border:1px solid #999;
	border:1px solid #FC3;
	margin:20px auto 0px auto;
	}

#footer {
	clear:both;
	text-align:center;
	font-size:8pt;
	color:#999;
	}

#thedata dt {
	font-weight: bold;
	}

.mygreek {
	font-family:serif;
	font-size:10pt;
	}

.orangebar {
	background:#FC3;
	color:#009;
	font-weight:bold;
	text-align:center;
	height:18px;
	}

.thetext {
	padding:5px;
	}

.rlink {
	text-align:right;
	float:right;
	margin-right:10px;
	margin-top:2px;
	font-size:10px;
	font-weight:normal;
	min-width:150px;
	}

.llink {
	text-align:left;
	float:left;
	margin-left:10px;
	margin-top:2px;
	font-size:10px;
	font-weight:normal;
	min-width:150px;
	}

#myTable {
	width:95%;
	border:1px solid #999;
	padding:0px;
	margin:25px auto;
	border-collapse:collapse;
	tr:nth-child(even) {background: #EED}
}

#myTable tr th:nth-child(1) { width: 5%; }
#myTable tr th:nth-child(2) { width: 15%; }
#myTable tr th:nth-child(4) { width: 10%; }
#myTable tr td:nth-child(1) { width: 5%; }
#myTable tr td:nth-child(2) { width: 15%; }
#myTable tr td:nth-child(4) { width: 10%; }

#nav1 {
	padding:0;
	margin:0;
	list-style:none;
	font-weight:bold;
}

#nav1 li {
	float:left;
	width:auto;
	text-align:center;
	margin:0px 15px 0px 15px;
	}

#nav1 ol {
	position:absolute;
	width:220px;
	left:-2000px;
	border:1px solid #999;
	background:#FFF;
	color:#FFF;
	padding:0;
	}

#nav1 li:hover ol  {
	left:auto;
	background-position: 0 0;
	}

#nav, #nav ul {
	padding:0;
	margin:0;
	list-style: none;
	font-weight:bold;
	align:center;
	border:1px solid;
	}

#nav li {
	float: left;
	width: auto;
	text-align:center;
	margin:0px 15px 0px 15px;
	}

#nav li, #nav li a {
	text-decoration:none;
	color:#999;
	padding:1px 5px;
	}

#nav ul {
	position: absolute;
	width: 220px;
	left:-2000px;
	border:1px solid #999;
	background:#FFF;
	color:#FFF;
	padding:0;
	}

#nav li:hover ul  {
	left:auto;
	background-position: 0 0;
	}

#nav li.sfHover ul {
	left:auto;
	background-position: 0 0;
	margin:15px 0px 0px -75px;
	}

#nav li a:hover, #nav ul li:hover {
	background:#009;
	}

#nav ul li {
	text-align:left;
	margin:1px 0px 1px 0px;
	width:210px;
	}

.aTable {
	background:#EEE;
	border:1px solid #999;
	margin:20px auto;
	max-width: 750px;
	border-collapse: collapse;
	}

.aTable td, .aTable th  {
	border:1px solid #999;
	padding:5px;
	}

.aTable tr, .aTable td, .aTable th {
	text-align:center;
	font-size:10pt;
	}

td.comment, td.left {
	text-align:left;
	}

tr.dark {
	background:#CCC;
	}

.printonly {
	display:none;
	}
