body, html {
	margin:0px;
	padding:0px;
	background:#EEE;
	color:#028;
	position:absolute;
	left:0px;
	top:0px;
	}

body {
	min-width:770px;
	}

a {
	color:#900;
	text-decoration:none;
	}

a:hover {
	color:#F00;
	text-decoration:underline;
	}
	
#banner {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:55px;
	}

#wrap {
	margin:0px;
	padding:8px;
	width:770px;
	}

#wrap, table, tr, th, td {
	font-family:Verdana,Arial,Helvetica,Geneva,Sans-Serif;
	font-size:10pt;
	}

#header {
	border:1px solid #FC3;
	background:#EEE;
	padding:0px;
	margin:0px;
	background:url('../images/rnamods.gif');
	background-repeat:no-repeat;
	overflow:hidden;
	}

#textframe {
	background:#FFE;
	border:1px solid #FC3;
	margin:8px 0px 0px 0px;
	}

#footer {
	clear:both;
	text-align:center;
	font-size:8pt;
	color:#999;
	}

#thedata dt {
	font-weight:bold;
	}

.mygreek {
	font-family:serif;
	font-size:10pt;
	}

.orangebar {
	background:#FC3;
	font-weight:bold;
	text-align:center;
	height:20px;
	width:100%;
	display:table;
	}

.orangebar span {
  vertical-align:middle;
  display: table-cell;
}

.thetext {
	padding:5px;
	}

.rlink {
	text-align:right;
	float:right;
	margin-right:10px;
	margin-top:2px;
	font-size:10px;
	font-weight:normal;
	min-width:150px;
	}

.llink {
	text-align:left;
	float:left;
	margin-left:10px;
	margin-top:2px;
	font-size:10px;
	font-weight:normal;
	min-width:150px;
	}

#myTable {
	width:95%;
	border:1px solid #999;
	padding:0px;
	margin:12px auto;
	border-collapse:collapse;
	tr:nth-child(even) {background:#EED}
}

#myTable tr th:nth-child(1) { width:5%;padding-left:5px; }
#myTable tr td:nth-child(1) { width:5%;padding-left:5px; }
#myTable tr th:nth-child(2) { width:15%; }
#myTable tr th:nth-child(4) { width:10%; }
#myTable tr td:nth-child(1) { width:5%; }
#myTable tr td:nth-child(2) { width:15%; }
#myTable tr td:nth-child(4) { width:10%; }

#nav ul {
	padding:0px;
	margin:0px 0px 0px 10px;
	list-style-type:none;
	font-weight:bold;
	}

#nav ul > li {
	float:left;
	width:auto;
	text-align:center;
	margin:0px;
	padding:0px;
	display: inline-block;
	}

#nav ul > li > a {
	padding:2px 22px 2px 22px;
	color:#028;
	}

#nav ul > li > a:hover {
	text-decoration:none;
	border:2px solid #999;
	color:#900;
	padding:0px 20px 0px 20px;
	}

#nav ol {
	position:absolute;
	min-width:220px;
	left:-2000px;
	border:2px solid #999;
	background:#FFF;
	padding:0px;
	align:left;
	text-align:left;
	display:block;
	}

#nav ol li {
	padding:0px;
	margin:5px;
	display:block;
	}

#nav ol > li > a {
	color:#028;
	}

#nav ol > li > a:hover {
	text-decoration:none;
	color:#900;
	}

#nav ul > li:hover ol  {
	left:auto;
	background-position:0 0;
	}

.aTable {
	background:#EEE;
	border:1px solid #999;
	margin:20px auto;
	max-width: 750px;
	border-collapse: collapse;
	}

.aTable td, .aTable th  {
	border:1px solid #999;
	padding:5px;
	}

.aTable tr, .aTable td, .aTable th {
	text-align:center;
	font-size:10pt;
	}

td.comment, td.left {
	text-align:left;
	}

tr.dark {
	background:#CCC;
	}

sub { vertical-align: sub; line-height: 1.0; }

sup { vertical-align: super; line-height: 1.0; }

sub, sup {
	font-size:0.8em;
	{

#bigtitle {
	font-size:24pt;
	font-weight:bold;
	}
	
@media print {
	.printonly {
		display:inline-block;
		}
	
	#nav, #footer, #submenu, .llink, .rlink {
		display:none;
		}
	}

